<div class="app-dashboard">
  <!-- Cliente nuevo o sin empresas creadas -->
  <ng-container *ngIf="!(activeEmpresa$ | async)">
    <div class="app-dashboard-main">
      <app-active-empresa-header ></app-active-empresa-header>
    </div>
  </ng-container>
  <ng-container *ngIf="(activeEmpresa$ | async) as empresa">
    <div class="app-dashboard-main">
      <app-active-empresa-header [empresa]="empresa" title="Administrando"></app-active-empresa-header>
      <app-empresas-table *ngIf="(empresas$ | async)  as empresas" [tableData]="empresas"></app-empresas-table>
      <button mat-button mat-button mat-flat-button color="primary" routerLink="/facturacion/empresas/nueva">Nueva empresa</button>
    </div>
  </ng-container>
</div>
