<mat-form-field class="table-filter" >
  <mat-label>Filtrar facturas</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Congelados Tarragona" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container *ngFor="let column of displayedColumns; let first = first; let i = index" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | camelCaseSplit | titlecase}}</th>
    <ng-container [ngSwitch]="column">
      <ng-container *ngSwitchCase="'fechaExpedicion'">
        <td mat-cell *matCellDef="let row">{{ row[column] | date: 'dd-MM-yyyy' }}</td>
      </ng-container>
      <ng-container *ngSwitchCase="'clienteNombre'">
        <td mat-cell *matCellDef="let row">{{ row.cliente.nombre }}</td>
      </ng-container>
      <ng-container *ngSwitchCase="'clienteNif'">
        <td mat-cell *matCellDef="let row">{{ row.cliente.nif }}</td>
      </ng-container>
      <ng-container *ngSwitchCase="'subtotal'">
        <td mat-cell *matCellDef="let row">{{ row[column] | currency:'EUR':'symbol':'4.2-2' }}</td>
      </ng-container>
      <ng-container *ngSwitchCase="'iva'">
        <td mat-cell *matCellDef="let row">{{ row[column]}}%</td>
      </ng-container>
      <ng-container *ngSwitchCase="'total'">
        <td mat-cell *matCellDef="let row">{{ row[column] | currency:'EUR':'symbol':'4.2-2' }}</td>
      </ng-container>
      <ng-container *ngSwitchCase="'lineasFactura'">
        <td mat-cell *matCellDef="let row">
          Ver detalle<mat-icon (click)="openDialog(row)"> expand_circle_down</mat-icon>
        </td>
      </ng-container>
      <ng-container *ngSwitchCase="'acciones'">
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button color="primary"  (click)="facturaPreview(row.id)">Previsualizar</button>
          <button mat-flat-button color="accent" (click)="facturaPreview(row.id)">Descargar</button>
        </td>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
      </ng-container>
    </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
