<div class="app-dashboard">
  <div class="spinner" *ngIf="loading$| async">
    <app-spinner></app-spinner>
  </div>
  <ng-container>
    <div class="app-dashboard__main">
      <div class="app-dashboard__header">
        <h2 class="app-dashboard__title">Crear nueva empresa</h2>
        <p class="app-dashboard__subtitle">Rellena el formulario para crear tu empresa.</p>
      </div>
      <div>
        <form class="app-form" [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
          <div class="personal__photo">
            <div class="photo">
              <app-user-photo class="photo__img" [photoURL]="form.controls['logo'].value"></app-user-photo>
              <div class="app-a" appFilesUpload (changed)="onFilesChanged($event)">
                Subir logo de empresa
              </div>
            </div>
          </div>
          <h3 class="app-form__section-title">Datos básicos</h3>
          <div class="app-form__fields">
            <app-form-field label="Nombre" [required]="true" [control]="form.controls['nombre']">
              <app-input formControlName="nombre"> </app-input>
            </app-form-field>
            <app-form-field label="Nif" [required]="true" [control]="form.controls['nif']"
              [patternError]="regexErrors.nif">
              <app-input formControlName="nif"></app-input>
            </app-form-field>
          </div>
          <h3 class="app-form__section-title">Dirección fiscal</h3>
          <div class="app-form__fields">
            <app-form-field label="Calle" [required]="true" [control]="form.controls['calle']" >
              <app-input formControlName="calle"> </app-input>
            </app-form-field>
            <app-form-field label="Número" [required]="true" [control]="form.controls['numero']"
              [patternError]="regexErrors.number" >
              <app-input formControlName="numero"></app-input>
            </app-form-field>
            <app-form-field label="Código Postal" [required]="true" [control]="form.controls['codigoPostal']"
              [patternError]="regexErrors.number" >
              <app-input formControlName="codigoPostal"></app-input>
            </app-form-field>
            <app-form-field label="Ciudad" [required]="true" [control]="form.controls['ciudad']" >
              <app-input formControlName="ciudad"></app-input>
            </app-form-field>
            <app-form-field label="Provincia" [required]="true" [control]="form.controls['provincia']"
              >
              <app-input formControlName="provincia"></app-input>
            </app-form-field>
            <app-form-field label="País" [required]="true" [control]="form.controls['pais']"
              >
              <app-input formControlName="pais"></app-input>
            </app-form-field>
            <app-form-field label="Telefono" [required]="true" [control]="form.controls['telefono']"
               [patternError]="regexErrors.phone">
              <app-input formControlName="telefono"></app-input>
            </app-form-field>
            <app-form-field label="Email" [required]="true" [control]="form.controls['email']"
               [patternError]="regexErrors.email">
              <app-input formControlName="email"></app-input>
            </app-form-field>
          </div>
          <button mat-flat-button color="primary">Crear empresa</button>
        </form>
      </div>
    </div>
  </ng-container>
</div>
