@import 'styles/colors.scss';
.password{
  position: relative;
  &__actions{
    color: $primary;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    &:hover{
      transition: color 0.3s ease;
      color: $secondary;
    }
  }
}

:host-context(.form-field_error){
  password__actions{
    color: $error;
  }
  input{
    border-bottom: 1px solid $error;
  }
}
