$base:#F7F9FB;
$base-dark: #ececec ;
$base-light: #fff;
$on-base: #090c10;

$primary: #4253d5;
$primary-dark:#2938c8;
$primary-light:#cbd1f5;
$on-primary: #ffffff;

$secondary: #ebedef;
$secondary-dark:#dde0e4;
$secondary-light:#f9fafa;
$on-secondary: #000000;

// $primary: #005998;
// $primary-dark:#002e6a;
// $primary-light:#e5eff7;
// $on-primary: #ffffff;

// $secondary: #5366de;
// $secondary-dark:#2938c8;
// $secondary-light:#eaedfb;
// $on-secondary: #ffffff;

$success:#227A1A;
$on-success: $base;

$error:#CC2516;
$on-error: $base;

