$base:#F7F9FB;
$base-dark: #ececec ;
$base-light: #fff;
$on-base: #090c10;

$primary: #5366de;
$primary-dark:#2938c8;
$primary-light:#cbd1f5;
$on-primary: #ffffff;

$secondary: #ebedef;
$secondary-dark:#dde0e4;
$secondary-light:#f9fafa;
$on-secondary: #000000;

$success:#227A1A;
$on-success: $base;

$error:#CC2516;
$on-error: $base;

