<div class="app-dashboard">
  <div class="spinner" *ngIf="loading$| async">
    <app-spinner></app-spinner>
  </div>
  <ng-container>
    <div class="app-dashboard__main mat-card">
      <div class="app-dashboard__header">
        <h1>Crear nueva empresa</h1>
      </div>
      <div>
        <form [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
          <div class="personal__photo">
            <div class="photo">
              <app-user-photo class="photo__img" [photoURL]="form.controls['logo'].value"></app-user-photo>
              <div class="app-a" appFilesUpload (changed)="onFilesChanged($event)">
                Subir logo de empresa
              </div>
            </div>
          </div>
          <app-form-field label="Nombre" [required]="true" [control]="form.controls['nombre']">
            <app-input formControlName="nombre"> </app-input>
          </app-form-field>
          <app-form-field label="Nif" [required]="true" [control]="form.controls['nif']"
            [patternError]="regexErrors.nif">
            <app-input formControlName="nif"></app-input>
          </app-form-field>
          <button mat-flat-button color="primary">Crear empresa</button>
        </form>
      </div>
    </div>
  </ng-container>
</div>
