@import 'styles/colors.scss';

.counter-card {
  &-header {
    margin-bottom: 1rem;
  }
  &-subtitle {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1rem;

    span {
      font-size: 2.5rem;
    }

    h3 {
      margin: .5rem 0 0 0 ;
      color: rgb(0, 0, 0);
    }
  }

  &-actions {
    padding: 1rem 1rem;
    border-top: solid 1px #8080803b;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
