<div class="app-dashboard">
  <div class="spinner" *ngIf="(isActiveLoading$ | async) && (isListLoading$ | async)">
    <app-spinner></app-spinner>
  </div>

  <!-- Cliente con empresas y empresas activas -->
  <ng-container *ngIf="activeEmpresa$ | async as empresa">
    <div class="app-dashboard__main">
      <app-active-empresa-header [empresa]="empresa" title="Administrando"></app-active-empresa-header>
      <div class="counter-cards">
        <app-counter-card title="Facturas de {{empresa.nombre}}" icon="list_alt" count={{empresa.facturas.length}}
          countSubtitle="Facturas totales" link="/facturacion/facturas" linkText="Ver todas"
          buttonText="Generar factura" buttonLink="/facturacion/facturas/nueva" [haveButtonAction]="false">
        </app-counter-card>
        <ng-container *ngIf="empresas$ | async as empresas">
          <app-counter-card title="Empresas gestionadas" icon="business" count={{empresas.length}}
            countSubtitle="Empresas totales" link="/facturacion/empresas" linkText="Ver todas"
            buttonText="Crear empresa" buttonLink="/facturacion/empresas/nueva" [haveButtonAction]="false">
          </app-counter-card>
        </ng-container>
      </div>
    </div>
    <div class="app-dashboard__sidebar">
      <app-empresa-list *ngIf="empresas$ | async as empresas" [empresas]="empresas"
        (selectEmpresa)="onEmpresaSelect($event)"></app-empresa-list>
    </div>
  </ng-container>

  <!-- Cliente nuevo o sin empresas creadas -->
  <ng-container *ngIf="!(activeEmpresa$ | async)">
    <div class="app-dashboard-main">
      <app-active-empresa-header></app-active-empresa-header>
    </div>
  </ng-container>
</div>
